<footer role="contentinfo">
    
    <div class="date">
        {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
        {{ $publishDate := .PublishDate }}
        <strong>{{ T "publish_date" }} </strong>{{ $publishDate.Format $dateFormat }}
        {{ with .Lastmod }}
        {{ if gt . $publishDate }}
        | <strong>{{ T "last_updated" }} </strong>{{ .Format $dateFormat }}
        {{ end }}
        {{ end }}
    </div>

    {{ with .Site.Params.footer }} {{ . | markdownify }} {{ end }}

</footer>
